html { 
  background: url(https://wjohnson1.github.io/Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 5;
    font-family: 'Alternate Gohic', sans-serif;
}
li { 	
	font-family: 'Alternate Gohic', sans-serif;
	font-size: 20px;
	border-width: 2px;
}
img {
	width: 400px;
}
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}    
h1 {
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 100px;
}
#Title {
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 100px;
}
p {
	color: #FFFFFF;
	background-color: rgba(245, 176, 65,0.65);
	padding-right:0px;
	font-size: 25px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;


}
#home{
	width: 50px;
}
.circle{
padding-left: 800px;	
margin-right: 2cm; 	
width:300px;
height:300px;
border-radius:50%;
font-size:17px;
line-height:300px;
text-align:center;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    overflow: auto;
    padding: 0px 0px;
}

.dropdown:hover .dropdown-content {
    display: block; 
}